<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Nosotros</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu" />

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a> 
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/contacto.html" class="nav-bar__nav-link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->

      <div class="search-bar seach-contacto">
        <div class="search-bar__logo-container logo-contacto">
          <img
            class="search-bar__logo-ecomerce"
            src="/img/f31fdbfd12b83132bbf565f3d1cb1636.jpg"
            alt=""
          />
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main-header -->
    <div>
      <h1>Satecno</h1>
    </div>
    <main class="main-nosotros">
      <section class="section-nosotros">
        
          
        <div class="video-container">
          <video controls autoplay
            muted src="/video/iPhone 11 Pro Max.mp4"
            alt="Video de presentacion de iphone14"
          ></video>
        </div>
      </section>
          <div class="p-nosotros">
            <p>
              Somos una empresa lider en ventas de artuculos tenologicos
              realizamos envios a todas partes del continente, tenemos los mas
              exclusivos celulaes, auriculares, televisores, consolas de
              videojuegos y mas.
            </p>
            <p>
              Llevamos mas de 20 años en el rubro, con nosotros tu satisfaccion
              esta garantizada
            </p>
            <!--   contenido inventado -->
        </div>
      
      <!-- seccion 1 -->

      <section class="oficinas">
        <h2>Podes encontrar nuestras oficina en las siguientes úbicaciones</h2>
        <div class="gps_container">
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15707975.830610702!2d-74.23228215600815!3d-16.01585596119143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaf5f5fdc667%3A0x3d2f77992af00fa8!2sArgentina!5e0!3m2!1ses-419!2sar!4v1717898052079!5m2!1ses-419!2sar"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>

          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15707975.830610702!2d-74.23228215600815!3d-16.01585596119143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf8977bba295%3A0x1c9ec2bb0115edbf!2sBolivia!5e0!3m2!1ses-419!2sar!4v1717897928165!5m2!1ses-419!2sar"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>

          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7501492.780675592!2d-63.74870786751525!3d-23.357873145654313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945c083490f13d63%3A0xb3faff611d582ef3!2sParaguay!5e0!3m2!1ses-419!2sar!4v1717898080785!5m2!1ses-419!2sar"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </section>
      <!-- section2 -->
      <div class="suscripcion">
        <p>Suscribite para acceder a las novedades:</p>
        <form action="">
          <input class="form__type" type="text" placeholder="Nombre" name="nombre_suscr" />
          <input class="form__type" type="text" placeholder="Email" name="email_suscr" />
          <button class="button">Suscribirse</button>
        </form>
      </div>
    </main>
    <!-- main section -->
    <footer class="footer__container">
      <div class="footer__ubicacion">
        <svg
          class="ubi"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
        >
          <path
            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
          />
        </svg>
      </div>

      <!--    footer -->
      <div class="footer__pais">
        <p>Argentina</p>
      </div>
      <div class="footer__autor">
        <p>© 2024 Luciano Cabaña - Todos los derechos reservados.</p>
      </div>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
